{* Latte template *}

{block content}

<h1 class="my-4">{$redakce->nazev}</h1>

<!-- Blog Post -->
<div class="card mb-4">
        <div class="card-body">
        <h2 class="card-title">{$redakce->stav}</h2>
        <p class="card-text">{$redakce->resitel|noescape}</p>
    </div>
        <div class="card-footer text-muted">
        Publikováno: 
    </div>
            {*control comments*}
</div>