{snippet}
<div n:if="$galleryId" id="product-images-administration">
    <div n:for="$i = 0; $i < $imagesCount; $i++">
        <img src="{$basePath}/images/galerry/{$imgFullNameGalerie}" alt="" /><!--?timestamp={time()}-->
        <a class="ajax" data-confirm="Opravdu si přejete odstranit vybraný náhled?" n:href="deleteImage! $galleryId, $i">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
    </div>
</div>
{/snippet}