{$personName}
<div class="pull-right">
	<span class="pull-right">{$prettyDateTime}</span>
</div>
<p>{$review->content}</p>
<!--
{$personName}
<div class="pull-right">
	<span class="pull-right">{$prettyDateTime}</span>
</div>
<p>{*$review->content*}</p>