<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/localhost" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {*<title>Grave - Free Bootstrap 4 Template by Colorlib</title>*}
	<title>{ifset title}{include title|stripHtml} | {/ifset}Gravelbikers</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	{*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">*}
	<link rel="stylesheet" href="{$basePath}/css/style_docasne.css">
    <link rel="stylesheet" href="{$basePath}/css/style.css">
    <link rel="stylesheet" href="{$basePath}/css/forms.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/nittro.min.css">
    {block head}{/block}
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/v4-shims.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{*<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">*} {* tenle řádek rozhazoval včechny styly podle nějakýho less kódu a barvy se ohnuly z původní šablony na e-shob stylování - pokud bude někde chyba prověř jen konkrétní styl ne celou sadu zde definovanou!!!*}
  </head>
  <body>

	<div id="colorlib-page">
		<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
		<aside id="colorlib-aside" role="complementary" class="js-fullheight text-center">
			<h1 id="colorlib-logo"><a n:href="Clanek:detail 1" >Gravel bike<span>.</span></a></h1>

			<nav id="colorlib-main-menu" role="navigation">
				<ul>
					<li><a n:href=:Core:Clanek:>Úvod</a></li>
					{if $user->isInRole('admin')}
						<li><a n:href=:Core:Clanek:list>Seznam článků</a></li>
                    {/if}   
					<li><a n:href=:Core:BlogGalerie:list>Blog fotografií</a></li>
					<li><a n:href=:Core:Online:list>Novinky z internetu</a></li>
					<li><a n:href=:Core:Event:default>Kalendář</a></li>
					{if $user->isInRole('admin')}
						<li><a n:href=:Core:Zapisnik:>Zapisník</a></li>
					{/if} 
					<li><a n:href=:Core:Administration:>Administrace</a></li>
					<li><a n:href=:Core:Contact:>Kontakt</a></li>
				</ul>
			</nav>

			<div class="colorlib-footer">
				<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. 
			  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>-->
				<!--  -->Verze 1.00 | by <a href="https://www.facebook.com/Fotografpodhorama" target="_blank">Yes_weB  </a>
				<ul>
					<li><a href="https://facebook.com"><i class="icon-facebook"></i></a></li>
					<li><a href="https://www.instagram.com/explore/tags/gravelbike/?hl=cs"><i class="icon-instagram"></i></a></li>
				</ul>
				
			     <div class="colorlib-footer-end">
                 <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Template is made <!--with <i class="icon-heart" aria-hidden="true"></i> --> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
			    </div>
			</div>
		</aside> <!-- END COLORLIB-ASIDE -->
		<div id="colorlib-main">

			<header>
			<div class="container">
				<div class="col-sm-11 offset-1 offset-sm-0">
				{var $user->isLoggedIn() ? $title='Log off' : $title="Log in"}
				{*if $user->isLoggedIn()} CELÉ MENU OBALIT PODMÍNKOU {/if*}
					<h1>RS v Nette | <a n:href=:Core:Profile:list>Uživatelé</a> | {if $user->isLoggedIn()} <a n:href=:Core:Gallery:list>Gallery</a> {else} <a n:href="Gallery:list portfolio">Portfólium</a> {/if} | <a n:href=:Core:Riders:>Riders</a> | <a n:href=:Core:List:>List</a> 
					{if $user->isLoggedIn()}| <a n:href=:Core:Creator:>Tvůrce</a>  | <a n:href=:Core:Todo:list>Todo</a>{/if} | Redakční systém | <button type="button" class="btn btn-lg btn-danger pull right"><a n:href=Administration:logout title="{$title}"><i class="fas fa-power-off"></i></a></button></h1>
				</div>
			</div>
			</header>
			<div class=container>
				{* Výpis flash zpráv. *}
				<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>

				<br style="clear: both;">
				<article>
					<header>
					</header>
					<section><!-- nette-šablona -->
						{include content} {* Vložení obsahu do šablony. *}
					</section>
				</article>
			</div>


			<div class="hero-wrap js-fullheight" style="background-image: url(images/bg_1.jpg);" data-stellar-background-ratio="0.5">
				<div class="overlay"></div>
				<div class="js-fullheight d-flex justify-content-center align-items-center">
					<div class="col-md-8 text text-center">
                        <div class="row">
    						<div class="img mb-4" style="background-image: url(images/petr.jpg);"></div>
                            <div class="img mb-4" style="background-image: url(images/ondra.jpg);"></div>
                        </div>
						<div class="desc">
							<h2 class="subheading">Hello We're</h2>
							<h1 class="mb-4">Petr a Ondra</h1>
							<!-- Would like to be A Bloggers, focoused on bikes, based in centrail Moravia, the best place to ride. In next few monts we will be founding the best content to write about. Then we will see. -->							
							<p class="mb-4">Spuštíme cyklistický blog se zaměřením na Gravelová kola. Náplň se skládá se záznamů vyjížděk, popisu vybavení, trocha tréningu, reportáže a taky aktuální webový obsah štěrkoleteckého charakteru. Jsme oba z Moravy a tak můžeme využívat rozmanitost a relativní odlehlost krajiny. V nastávajícím mezidobí budeme hledat další aktivní členy do naší společnosti a rádi bychom do gravel platformy přidali i další funkce pro oživení komunity 'berany a 32+'.</p>
							<p><a href="riders" class="btn-custom">Štěrkoletci <span class="ion-ios-arrow-forward"></span></a></p>
						</div>
					</div>
				</div>
			</div>
			<section class="ftco-section">
				<div class="container">
					<div class="row justify-content-center mb-5 pb-2">
						<div class="col-md-7 heading-section text-center ftco-animate">
							<h2 class="mb-4">Poslední obsah</h2>
							<p>Poslední příspěvky z hlavních kategorií webu....</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="blog-entry ftco-animate">
									<!--a href="#" class="img img-2" style="background-image: url(images/image_1.jpg);"></a-->
									<a n:href="Clanek:detail $posledni['clanky_id']" class="img img-2 d-flex justify-content-center align-items-center" title="{$posledni['popisek']}" style="background-image: url(images/image_{$posledni['clanky_id']}.jpg)"></a>
									<div class="text text-2 pt-2 mt-3">
										<span class="category mb-3 d-block"><a n:href="Clanek:">články</a></span>
						<h3 class="mb-4"><a n:href="Clanek:detail $posledni['clanky_id']">{$posledni['titulek']}</a></h3>
						<p class="mb-4">{$posledni['popisek']}</p>
						<div class="author mb-4 d-flex align-items-center">
								<a href="#" class="img" style="background-image: url(images/person_0.jpg);"></a>
								<div class="ml-3 info">
									<span>Vydáno</span>
									<h3><a href="riders">{$posledni['autor']}</a>, <span>{date("d-m-Y", strtotime($posledni['publikace']))}</span></h3>
								</div>
							</div>
						<div class="meta-wrap align-items-center">
							<!--div class="half order-md-last">
								<p class="meta">
									<span><i class="icon-heart"></i>3</span>
									<span><i class="icon-eye"></i>100</span>
									<span><i class="icon-comment"></i>5</span>
								</p>
							</div-->
							<div class="half">
								<p><a n:href="Clanek:detail $posledni['clanky_id']" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
							</div>
						</div>
						</div>
								</div>
						</div>
						<div class="col-md-4">
							<div class="blog-entry ftco-animate">
									<a href="{$lastonline['odkaz']}" class="img img-2 d-flex align-items-center" title="{$lastonline['popisek']}" style="background-image: url(images/online/online_{$lastonline['online_id']}.jpg)"></a>
									<div class="text text-2 pt-2 mt-3">
										<span class="category mb-3 d-block"><a n:href="Online:list">Online</a></span>
						<h3 class="mb-4"><a href="{$lastonline['odkaz']}">{$lastonline['titulek']}</a></h3>
						<p class="mb-4">{$lastonline['popisek']}</p>
						<div class="author mb-4 d-flex align-items-center">
								<a href="#" class="img" style="background-image: url(images/person_0.jpg);"></a>
								<div class="ml-3 info">
									<span>Web</span>
									<h3>{*<a href="{$lastonline['odkaz']}">{$lastonline['autor']}</a>, *}<span>{$lastonline['web']}</span></h3>
								</div>
							</div>
						<div class="meta-wrap align-items-center">
							<!--div class="half order-md-last">
								<p class="meta">
									<span><i class="icon-heart"></i>3</span>
									<span><i class="icon-eye"></i>100</span>
									<span><i class="icon-comment"></i>5</span>
								</p>
							</div-->
							<div class="half">
								<p><a href="{$lastonline['odkaz']}" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
							</div>
						</div>
						</div>
								</div>
						</div>
						<div class="col-md-4">
							<div class="blog-entry ftco-animate">
									<a n:href="BlogGalerie:detail $lastbloggaleries['bloggal_id']" class="img img-2" title="{$lastbloggaleries['popisek']}" style="background-image: url(images/bloggalerie/galerie_{$lastbloggaleries['url']}_0.jpg);"></a>
									<div class="text text-2 pt-2 mt-3">
										<span class="category mb-3 d-block"><a n:href="BlogGalerie:list">Obrázkový blog</a></span>
						<h3 class="mb-4"><a n:href="BlogGalerie:detail $lastbloggaleries['bloggal_id']">{$lastbloggaleries['titulek']}</a></h3>
						<p class="mb-4">{$lastbloggaleries['popisek']}</p>
						<div class="author mb-4 d-flex align-items-center">
								<a href="#" class="img" style="background-image: url(images/person_0.jpg);"></a>
								<div class="ml-3 info">
									<span>Vydáno</span>
									<h3><a href="riders">{$lastbloggaleries['autor']}</a>, <span>{date("d-m-Y", strtotime($lastbloggaleries['datum']))}</span></h3>
								</div>
							</div>
						<div class="meta-wrap align-items-center">
							<!--div class="half order-md-last">
								<p class="meta">
									<span><i class="icon-heart"></i>3</span>
									<span><i class="icon-eye"></i>100</span>
									<span><i class="icon-comment"></i>5</span>
								</p>
							</div-->
							<div class="half">
								<p><a n:href="BlogGalerie:detail $lastbloggaleries['bloggal_id']" class="btn py-2">Continue Reading <span class="ion-ios-arrow-forward"></span></a></p>
							</div>
						</div>
						</div>
								</div>
						</div>
						
					</div>
				</div>
			</section>

			<footer class="ftco-footer ftco-bg-dark ftco-section">
				<div class="container px-md-5">
					<div class="row mb-5">
					<div class="col-md">
						<div class="ftco-footer-widget mb-4 ml-md-4">
						<h2 class="ftco-heading-2">Categorie</h2>
						<div class="list-group">
                    {*<a n:foreach="$categories as $category" href="{plink Clanek: $category->url}" data-path="{$category->url}" n:class="list-group-item, $presenter->isLinkCurrent() ? active">{$category->name}</a>*}
                </div>
						<ul class="list-unstyled categories">
						{var $i=0}
						<div n:inner-foreach="$categories as $category">
								{if $category->name != 'Bez kategorie'}
							<li>
								{*<div class="col-md-4"></div> Obalovalo původní výpis kategorií. *}
									<a href="{plink :Core:Clanek:default $category->url}" data-path="{$category->url}"  class="img img-2" title="{$category->name}"> {$category->name} <span>({$pocetclankukategorie[$i]})</span>
									</a>
							</li>
								{/if}
							{var $i=$i+1}
						</div>
                      </ul>
						</div>
					</div>
					{*<div class="col-md">
						<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Archyv</h2>
						<ul class="list-unstyled categories">
								{*<h3>{$m}</h3>{count($jedenMesic)* }
							<div class="col">
								{for $m = 1; $m <= 12; $m++}
									{if (!empty($poleMesicu[$m]))}
										{var $countMonth = count($poleMesicu[$m])}
										{*cont vhodné přesunout do presenteru/fce a Text měsíce vypsat podle data z 'publikace'* }
										<li n:if="$m==1"><a href="{plink :Core:Clanek:}">Leden 2023 <span>({$countMonth})</span></a></li>
										<li n:if="$m==2"><a href="{plink :Core:Clanek:}">Únor 2023 <span>({$countMonth})</span></a></li>
										<li n:if="$m==3"><a href="{plink :Core:Clanek:}">Březen 2023 <span>({$countMonth})</span></a></li>
										<li n:if="$m==4"><a href="{plink :Core:Clanek:}">Duben 2023 <span>({$countMonth})</span></a></li>
										<li n:if="$m==5"><a href="{plink :Core:Clanek:}">Květen 2023 <span>({$countMonth})</span></a></li>
										<li n:if="$m==6"><a href="{plink :Core:Clanek:}">Červen 2023 <span>({$countMonth})</span></a></li>
										<li n:if="$m==7"><a href="{plink :Core:Clanek:}">Červenec 2023 <span>({$countMonth})</span></a></li>
										<li n:if="$m==8"><a href="{plink :Core:Clanek:}">Srpen 2023 <span>({$countMonth})</span></a></li>
										<li n:if="$m==9"><a href="{plink :Core:Clanek:}">Září 2023 <span>({$countMonth})</span></a></li>
										<li n:if="$m==10"><a href="{plink :Core:Clanek:}">Říjen 2022 <span>({$countMonth})</span></a></li>
										<li n:if="$m==11"><a href="{plink :Core:Clanek:}">Listopad 2022 <span>({$countMonth})</span></a></li>
										<li n:if="$m==12"><a href="{plink :Core:Clanek:}">Prosinec 2022 <span>({$countMonth})</span></a></li>
									{/if}
								{/for}
							</div>
						</ul>
						</div>
					</div>*}
					<div class="col-md">
						<div class="ftco-footer-widget mb-4">
							<h2 class="ftco-heading-2">Rádi byste věděli víc?</h2>
							<div class="block-23 mb-3">
							<ul>
								<li><span class="icon icon-map-marker"></span><span class="text">Chromec 126 Zabreh 78901, Czech republic</span></li>
								<li><a href="#"><span class="icon icon-phone"></span><span class="text">+ 042 777 884 051</span></a></li>
								<li><a href="#"><span class="icon icon-envelope"></span><span class="text">ondrejkropac@centrum.cz</span></a></li>
								<li><a href="https://www.facebook.com/Fotografpodhorama"><span class="icon icon-facebook"></span><span class="text">https://www.facebook.com/Fotografpodhorama</span></a></li>
							</ul>
							</div>
						</div>
					</div>
					</div>
					<div class="row">
					<div class="col-md-12">
						<a n:href=:Core:Administration:>Administrace</a>
						|
						<a n:href=:Core:Clanek:list>Články</a>
						<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
					</div>
					</div>
				</div>
			</footer>
		</div><!-- END COLORLIB-MAIN -->
	</div><!-- END COLORLIB-PAGE -->

  <!-- loader -->

    {block scripts}
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
        <script src="{$basePath}/js/main.js"></script>
    {/block}

  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/jquery.timepicker.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="js/main.js"></script>
 <!-- <script type="application/javascript" src="js/nittro.min.js" async defer></script><!--{$basePath}/-->



  <script src="{$basePath}/js/confirm.js"></script>
  </body>
</html>
